.My-Color-Theme-1-hex { color: #2A6136; }
.My-Color-Theme-2-hex { color: #169F68; }
.My-Color-Theme-3-hex { color: #9ADE86; }
.My-Color-Theme-4-hex { color: #B8DEC8; }
.My-Color-Theme-5-hex { color: #7CDB95; }

